
<html>

	<title>Home | Online Customer Care and Service Center System</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

<body>
<div class="container">
	<div class="row"style="margin: 10%">
	        <div class="col-md-4">
				<a href="login.html">
				<img src="images/sign_in.png">
				<br>
				<h2 style="margin-left: 25%;">Login</h2>
				</a>
			</div>
            <div class="col-md-4">
				<a href="sign_up.html">
				<img src="images/sign_up.png">
				<br>
				<h2 style="margin-left: 25%;">Sign up</h2>
				</a>
			</div>
            <div class="col-md-4">
				<a href="browse.php">
				<img src="images/search.png">
				<br>
				<h2 style="margin-left: 3%;">Browse Companies</h2>
				</a>
			</div>
        </div>
</div><!-- container -->
</body>
</html>
